
{% extends 'base.html' %}

{% block body %}
<div  class="bg" style="background-image: url('https://img5.goodfon.com/original/1366x768/f/e1/tsvet-forma-fon-230.jpg');"> 
    <div class="add" >
    <h2><b>Enter marks of student</b></h2>
    <form method='POST' action='/submitmarks'>
    <label for="rno"><b>Roll No  :</b></label><br>
    <input name='rno' type='number' width='60'><br>
    <label for="ecode"><b>Exam Code:</b></label><br>
    <input  name='ecode' type='text' width='60'><br>
    <label for="pcode"><b>Paper Code:</b></label><br>
    <input  name='pcode' type='TEXT' width='60'><br>
    <label for="tmark"><b>Total Marks:</b></label><br>
    <input  name='tmarks' type='TEXT' width='60'><br>
    <label for="omark"><b>Obtain Mark:</b></label><br>
    <input  name='omarks' type='TEXT' width='60'><br>
    
    <p>When you're ready, click this button:</p>
    <p><input value='Do it!' type='SUBMIT'></p>
    </form>
    </div>
</div>

{% endblock %}
